<nav class="navbar fixed-top bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <div class="navbar-brand">Tic Tac Toe</div>
  </div>
</nav>

<div class="center">
  <div>
    <h2
      *ngIf="winner !== Piece.Empty && winner !== null && gameOver"
      class="text-success"
    >
      Winner: {{ winner === Piece.X ? "X" : "O" }}
    </h2>
    <h2 *ngIf="winner === null && gameOver" class="text-tertiary">Tie</h2>

    <h3 *ngIf="!gameOver">Turn: {{ userTurn ? "X" : "O" }}</h3>

    <br />
    <div *ngFor="let row of board; let i = index" class="row">
      <div
        *ngFor="let piece of row; let j = index"
        class="square"
        [ngStyle]="{
          'background-color': isWinning(i, j) ? 'lime' : 'ghostwhite'
        }"
      >
        <img
          *ngIf="piece == Piece.X"
          src="../../assets/x.png"
          (click)="onClick(i, j)"
        />
        <img
          *ngIf="piece == Piece.Empty"
          src="../../assets/empty.png"
          (click)="onClick(i, j)"
        />
        <img
          *ngIf="piece == Piece.O"
          src="../../assets/o.png"
          (click)="onClick(i, j)"
        />
      </div>
    </div>

    <br />
    <button
      *ngIf="gameOver"
      class="btn btn-secondary btn-lg"
      (click)="newGame()"
    >
      Reset
    </button>
  </div>
</div>
